extends layout

block content  
    h1= title
    div(class="row")
      each course in listofcourses     
        div(class="col-md-3") 
          div(class="card m-2 p-2")
            img(src=course.imageUrl alt=course.title height="150px" class="card-img-top")
            div(class="card-body")
              - for(let i = 0; i < course.rating; i++) 
                  span(style="color: Dodgerblue;")
                    i(class="fas fa-star")
              div(class="card-title")              
                  h5=course.title
              div(class="card-title")              
                  h5 Rs. #{course.price}
              button(class="btn btn-danger btn-sm")
                i(class="fas fa-trash")